<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Mc Donalds
  </h1>
</div>
<h2>Recherche</h2>
<input  (keyup)="onChange($event)"> {{word.length>0?('('+mcDonalds.length+')'):""}}
<div *ngIf="mcDonalds.length>0">
  <ul *ngFor="let mc of mcDonalds">
    <li><b>Code:</b>{{mc.code}} <b>Name:</b>{{mc.name}}</li>
  </ul>
</div>
